.botao-grande{
  margin: 5px;
  background-color: var(--secondary-color);
  border-radius: 8px;
  color: #FFFFFF;
  box-shadow: none;
  width: 266px;
  height: 37px;
  border: none;
  font-size: 16px;
  font-weight: 600;
}


.botao-ciano-pequeno{
  margin: 5px;
  background-color: var(--secondary-color);
  border-radius: 8px;
  color: #FFFFFF;
  box-shadow: none;
  width: 109px;
  height: 35px;
  border: none;
  font-size: 16px;
  font-weight: 600;
}

.botao-vermelho-pequeno{
  margin: 5px;
  background-color: var(--cor-feedback-negativo);
  border-radius: 8px;
  color: #FFFFFF;
  box-shadow: none;
  width: 109px;
  height: 35px;
  border: none;
  font-size: 16px;
  font-weight: 600;
}

.botao-ciano-medio{
  margin: 5px;
  background-color: var(--secondary-color);
  border-radius: 8px;
  color: #FFFFFF;
  box-shadow: none;
  width: 109px;
  height: 35px;
  border: none;
  font-size: 16px;
  font-weight: 600;
}




.botao-ciano-medio{
  margin: 5px;
  background-color: var(--secondary-color);
  border-radius: 8px;
  color: #FFFFFF;
  box-shadow: none;
  width: 204px;
  height: 44px;
  border: none;
  font-size: 16px;
  font-weight: 600;
}

