.card-produto {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #757575;
    width: 17.25rem;
    height: 8.85rem;
    border-radius: 0.62rem;
    background-color: #f9f9f9;
}

.card-componentes1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 17.25rem;
    height: 4.81rem;
    padding: 5px;
    gap: 5px;
}

.card-imagem {
    border: 1px solid #757575;
    border-radius: 0.62rem;
    width: 3.5rem;
    height: 3.31rem;
}

.card-texto {
    display: flex;
    flex-direction: column;
    width: 8.56rem;
    height: 4.18rem;
}

.card-texto h3 {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

.card-texto h4 {
    font-weight: 300;
    font-size: 0.62rem;
    line-height: 17px;

}

.card-botao {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 4.56rem;
    height: 3.56rem;
}

.card-botao h4 {
    font-weight: 400;
    font-size: 0.62rem;
    line-height: 17px;
}

.card-botao input {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 2px 4px;
    width: 55px;
    height: 29px;
    background: #2E8540;
    border-radius: 100px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.linha {
    border: 1px solid black;
    margin: 13px 0;
    width: 256px;
}

.card-botoes {
    width: 17.25rem;
    height: 1.18rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.card-botoes .btn-1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 72.53px;
    height: 19.6px;
    background: #D93025;
    border-radius: 5px;
    color: white;
    margin: 0;
    border: none;
}

.card-botoes .btn-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 72.53px;
    height: 19.6px;
    background: #2E8540;
    border-radius: 5px;
    color: white;
    margin: 0;
    border: none;
}