:root {
  --cor-marca-primaria: #F79B4E;
  --cor-marca-secundaria: #0FB5B5;
  --cor-terciaria-1: #F58158;
  --cor-terciaria-2: #FFF6E9;
  --cor-terciaria-3: #F1C372;
  --cor-branco-translucido: #FFFFFF;
  --cor-borda-neutra: #EDEDED;
  --cor-feedback-negativo: #D93025;
  --cor-feedback-alerta: #F1C372;
  --cor-feedback-sucesso: #2E8540;
  --cor-texto-secundaria: #757575;
  --cor-texto-primaria: #2A2A2A;
  --cor-fundo-secundaria: #F9F9F9;
  --cor-fundo-primaria: #FFF6E9;
  --cor-preta-para-hover: rgba(0, 0, 0, 0.125);
  --sombra-leve: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
  --sombra-media: 0px 2px 8px -2px rgba(0, 0, 0, 0.06), 0px 4px 12px -2px rgba(0, 0, 0, 0.1);
  --sombra-grande: 0px 4px 12px -2px rgba(0, 0, 0, 0.1);
  --raio-leve: 4px;
  --raio-medio: 8px;
  --raio-grande: 12px;
  --raio-extra-grande: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 100vw;
  align-items: center;
  background-color: var(--cor-fundo-primaria);
}

button {
  background-color: green;
  padding: 10px;
  font-size: x-small;
  margin: 50px;
}

.secao-de-componentes {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  gap: 1.5rem;
  padding: 2rem;
  width: 100%;
  justify-content: center;
}

.moldura {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.titulo-secao {
  grid-column: span 5;
  text-align: center;
}

.ocupa-linha {
  grid-column: span 5;
}

#container-titulo {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem;
  width: 50%;
}

#customizacao-icone .componente {
  display: flex;
  justify-content: center;
  align-items: center;
}
