:root {
  --primary-color: #F79B4E;
  --secondary-color: #0FB5B5;
  --terciary-color1: #F58158;
  --terciary-color2: #FFF6E9;
  --terciary-color3: #F1C372;
  --cor-branco-translucido: #FFFFFF;
  --cor-borda-neutra: #EDEDED;
  --cor-feedback-negativo: #D93025;
  --cor-feedback-alerta: #F1C372;
  --cor-feedback-sucesso: #2E8540;
  --cor-texto-secundaria: #757575;
  --cor-texto-primaria: #2A2A2A;
  --cor-fundo-secundaria: #F9F9F9;
  --cor-fundo-primaria: #FFF6E9;
  --cor-marca-secundaria: #0FB5B5;
  --cor-marca-primaria-hover: #F79B4E;
  
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 100vw;
  align-items: center;
  background-color: var(--cor-fundo-primaria);
}

button {
  background-color: green;
  padding: 10px;
  font-size: x-small;
  margin: 50px;
}

.secao-de-componentes {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  gap: 1.5rem;
  padding: 2rem;
}

.moldura {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.titulo-secao {
  grid-column: span 5;
  text-align: center;
}

.ocupa-linha {
  grid-column: span 5;
}

#container-titulo {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem;
  width: 50%;
}

#customizacao-icone {
  text-align: center;
}

#customizacao-icone .componente {
  width: 48px;
  height: 48px;
  margin: auto;
}
