body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 100vw;
  align-items: center;
  background-color: var(--cor-fundo-primaria);
}

button {
  background-color: green;
  padding: 10px;
  font-size: x-small;
  margin: 50px;
}

.secao-de-componentes {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  gap: 1.5rem;
  padding: 2rem;
  width: 100%;
  justify-content: center;
}

.moldura {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.componente:hover {
  cursor: pointer;
}

.titulo-secao {
  grid-column: span 5;
  text-align: center;
}

.ocupa-5-linhas {
  grid-column: span 5;
}

.oculto {
  visibility: hidden;
}

#container-titulo {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem;
  width: 50%;
}

#customizacao-icone .componente {
  display: flex;
  justify-content: center;
  align-items: center;
}

#popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

#popup-conteudo {
  background-color: var(--cor-fundo-secundaria);
  padding: var(--espacamento-g);
  box-shadow: var(--sombra-media);
  border-radius: var(--raio-extra-grande);
  margin: 100px auto auto auto;
  width: 90%;
  max-width: 500px;
  z-index: 1001;
}

#popup-button-container {
  display: flex;
  justify-content: flex-end;
}

#popup-fechar {
  display: block;
  padding: var(--espacamento-p);
  border-radius: var(--raio-leve);
  background-color: var(--cor-feedback-negativo);
  color: var(--cor-fundo-secundaria);
  cursor: default;
}

#popup-fechar:hover {
  background: var(--cor-preto-hover), var(--cor-feedback-negativo);
}

#popup-copiar{
  display: block;
  padding: var(--espacamento-p);
  border-radius: var(--raio-leve);
  background-color: var(--cor-texto-secundaria);
  color: var(--cor-fundo-secundaria);
  cursor: default;
}

#popup-copiar-container {
  display: flex;
  justify-content: center;
}

#popup-copiar:hover {
  background: var(--cor-preto-hover), var(--cor-texto-secundaria);
}
